/* @font-face {
  font-family: futura;
  src: url(fonts/FuturaNowDisplay-XBdIt.otf);
} */

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing:auto;
  font-weight: 400;
  font-style: normal;
}
code {
  font-size: large;
  line-height: normal;
}
.container{
  display: flex;
}
.col{
  flex: 1;
}